
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	background: #F4F7FA;
	color: #5b6778;
}

h1 {
	font-family: 'Kelly Slab', cursive;
	font-size: 2rem;
	background: #282C36;
	color: white;
	margin: 0;
	padding: 2rem;
	overflow: hidden;
}

h1 img {
	width: 3rem;
	height: 3rem;
	display: block;
	float: left;
}

h1 span {
	float: left;
	display: block;
	line-height: 3rem;
	margin-left: 1rem;
}

.servicelist {
	padding: 0rem;
}

.servicelist__item {

}

	.servicelist__item__row {
		overflow: hidden;
		padding: 0.5rem 0;
		//border-bottom: 2px #e3e7ed solid;
		cursor: pointer;
	}

	.servicelist__item__row:hover {
		background: #e3e7ed;
	}

		.servicelist__item__row__title {
			float: left;
			width: 90%;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		.servicelist__item__row__icon {
			float: left;
			width: 7%;
			text-align: right;
			height: 2rem;
		}

			.servicelist__item__row__icon img {
				width: 1rem;
				height: 1rem;
				margin: 0.5rem;
				opacity: 0.5;
			}
			.servicelist__item__row__icon img:hover {
				opacity: 1;
			}

		.servicelist__item__row__statusled {
			float: left;
			width: 3%;
		}

		.servicelist__item__row__statusled .statusled {
			margin: 0 auto 0;
		}

	.servicelist__item__details {
		display: none;
	}

		.servicelist__item__details__row__statusled {
			float: left;
			width: 3%;
			margin-left: 2%;
		}

		.servicelist__item__details__row {
			overflow: hidden;
			border-bottom: 1px #e3e7ed solid;
			padding: 0.5rem;
		}

		.servicelist__item__details__row__title {
			float: left;
			width: 60%;
			line-height: 1.5rem;
		}

		.servicelist__item__details__row__current {
			float: left;
			width: 15%;
		}

		.servicelist__item__details__row__new {
			float: left;
			width: 20%;
		}


.statusled {
	width: 2rem;
	height: 2rem;
}

.statusled.statusled--small {
	width: 1.5rem;
	height: 1.5rem;
}

.statusled.statusled--red {
	background: #EA595D;
}

.statusled.statusled--yellow {
	background: #fecb37;
}

.statusled.statusled--green {
	background: #24BD8F;
}

.statusled.statusled--grey {
	background: #999999;
}
